.admin-navbar {

    height:70px;

    background:#FFB6C1;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 35px;

    color:white;

    position:fixed;

    top:0;

    left:0;

    right:0;

    z-index:1000;

}


.admin-navbar h2 {

    margin:0;

    font-size:22px;

}


.admin-profile {

    background:white;

    color:#FF8FAB;

    padding:8px 18px;

    border-radius:20px;

    font-weight:600;

}